<title>Password Reset - AngelThump</title>
<link rel="prefetch" href="/assets/small_logo.png">
<link rel="stylesheet" href="/css/reset_page.css">
<div class="reset-page">
  <a href="/">
    <img src="/assets/small_logo.png" />
  </a>
  <div class="form">
    <form class="reset-form" method="post" action="https://sso.angelthump.com/passwordChange">
      <input id="hash" name="hash" style="display: none;">
      <input id="password" type="password" name="password" placeholder="password"/>
      <button type="submit" id="reset">Change Password</button>
    </form>
  </div>
</div>

<script>
  document.getElementById("hash").value = "<%= hash %>";
</script>