body, html {
    height: 100%!important;
}

.root body {
    background-color: #0e0e10;
    color: #efeff1;
    font-family: Roobert,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 12px;
    line-height: 1.5;
}

.authorize {
    min-width: 210px;
    max-width: 375px;
    margin: 0 auto;
    overflow: hidden;
}

.authorize .wrap {
    background: #0e0e10;
    border-bottom: 1px solid #fff;
    border-top: 1px solid #fff;
    margin-top: 0;
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
}

.authorize .header {
    text-align: center;
    padding: 15px 30px 0;
}

.root-embed .card, .root-page .card, .aneglthump_subwindow_container .card {
    background: #1d1d1d;
    display: block;
}

body.root .card {
    margin: 0;
}

.root-embed .card .root-content, .root-page .card .text-content, .angelthump_subwindow_container .card .text-content {
    padding: 25px 25px 5px;
}

.root-embed .card .text-content .content-header, .root-page .card .text-content .content-header, .angelthump_subwindow_container .card .text-content .content-header {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #dad8de;
}

body.root-embed, h3, h4, p {
    margin: 0;
}

h4 {
    font-size: 16px;
    line-height: 1.25;
}

h1, h2, h3, h4, h5 {
    font-weight: 400;
}

.root-embed .card .text-content .content-header .sub-text, .root-page .card .text-content .content-header .sub-text, .angelthump_subwindow_container .card .text-content .content-header .sub-text {
    margin-top: 5px;
}

.sub-text {
    color: #6e6779;
    font-weight: 400;
}

.root-embed .card .item, .root-page .card .item, .angelthump_subwindow_container .card .item {
    position: relative;
    margin: 0 0 20px;
    width: 100%;
    box-sizing: border-box;
}

.subwindow_notice, .warning {
    background: #ffe6e6;
    color: #c86e6e;
    padding: 10px;
    margin: 0 0 20px;
    border: 1px solid #f5c8c8;
}

.root-embed .card .item.field, .root-page .card .item.field, .angelthump_subwindow_container .card .item.field {
    margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: 700;
    color: #575260;
}

.authorize #username_div, .authorize #username_div .input, .authorize .validation-div, .authorize .validation-div .input {
    position: relative;
}

input.string, input.text, textarea {
    margin: 0 0 20px;
    line-height: 28px;
    padding: 0 7px;
    height: 30px;
    font: inherit;
    letter-spacing: inherit;
    color: #6e6779;
    vertical-align: top;
    border: 1px solid #dad8de;
    background-clip: padding-box;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    box-sizing: border-box;
    background: #fff;
}

input.string, input.text, textarea {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-clip: padding-box;
    background-color: hsla(0, 0%, 100%, 0.15);
    border: var(--border-width-input) solid hsla(0, 0%, 100%, 0.15);
    color: #efeff1;
    font-family: inherit;
    height: 3rem;
    line-height: 1.5;
    outline: 0;
    transition: box-shadow .1s ease-in,border .1s ease-in,background-color .1s ease-in;
}

.ReactPasswordStrength-input {
border: var(--border-width-input) solid hsla(0, 0%, 100%, 0.15)!important;
}

.ReactPasswordStrength-strength-desc {
    color: transparent;
    font-style: italic;
    padding: 14px 12px;
    position: absolute;
    top: 45px!important;
    left: 0!important;
    text-align: left!important;
    transition: color 250ms ease-in-out;
    width: 15%;
}

.root-embed .card .item.field, .root-page .card .item.field, .angelthump_subwindow_container .card .item.field {
    margin-bottom: 10px;
}

.root-embed .card .item, .root-page .card .item, .angelthump_subwindow_container .card .item {
    position: relative;
    margin: 0 0 20px;
    width: 100%;
    box-sizing: border-box;
}

.root-embed .card .buttons .button, .root-page .card .buttons .button, .angelthump_subwindow_container .card .buttons .button {
    margin: 0 10px;
}

.button.fb_button, .root-embed .button, .root-page .button {
    font-size: 14px;
    line-height: 30px;
}


.button, .theme--dark .button, .theme--light .button {
    color: #47a6ff;
    text-decoration: underline;
}

.button:focus, .button:hover, .theme--dark .button:focus, .theme--dark .button:hover, .theme--light .button:focus, .theme--light .button:hover {
    background: grey;
    color: #fff;
}

.button:focus, .button:hover {
    text-decoration: none;
}